# IBM Cloud App ID
IBM_APPID_CLIENT_ID="your_client_id_here"
IBM_APPID_TENANT_ID="your_tenant_id_here"
IBM_APPID_SECRET="your_secret_here"
IBM_APPID_OAUTH_SERVER_URL="your_oauth_server_url_here"

# Frontend Config
FRONTEND_URL="http://127.0.0.1:8000/platform/index.html"
PORT=8001

# RBAC / Admin config
ADMIN_EMAILS="admin1@example.com,admin2@example.com"

# IBM Watson Speech to Text (STT)
IBM_STT_API_KEY="your_stt_apikey_here"
IBM_STT_URL="your_stt_url_here"

# IBM Watson Text to Speech (TTS)
IBM_TTS_API_KEY="your_tts_apikey_here"
IBM_TTS_URL="your_tts_url_here"

# IBM Cloudant Database
IBM_CLOUDANT_APIKEY="your_cloudant_apikey_here"
IBM_CLOUDANT_URL="your_cloudant_url_here"

# IBM Watson Natural Language Understanding (NLU)
IBM_NLU_API_KEY="your_nlu_apikey_here"
IBM_NLU_URL="your_nlu_url_here"
